/* You need to create the rest of styles for the layout shown */
.choices {
  display: flex;
  
}
.options {
    background-image: url("https://media.gettyimages.com/photos/singer-neil-diamond-poses-for-a-portrait-in-1980-in-los-angeles-picture-id452891986?k=6&m=452891986&s=612x612&w=0&h=nrk2UhRBdURsDaHcblIKTwmZHWIvV3D0_ePSmk996mc=");
    background-size: 200px;
    background-position-x: center;
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

